@charset "utf-8";
@font-face{
    font-family:notokr;
    font-weight: 400;
    src:url("../font/NotoSansKR-Regular.woff2") format("woff2"),
    url("../font/NotoSansKR-Regular.woff") format("woff"),
    url("../font/NotoSansKR-Regular.otf") format("opentype");
}
@font-face{
    font-family:notokr;
    font-weight: 700;
    src:url("../font/NotoSansKR-Light.woff2") format("woff2"),
    url("../font/NotoSansKR-Light.woff") format("woff"),
    url("../font/NotoSansKR-Light.eot") format("opentype");
}
@font-face{
    font-family:big;
    font-weight: 700;
    src:url("../font/Big_Bottom_Typeface_Normal.woff") format("woff"),
    url("../font/Big_Bottom_Typeface_Normal.eot") format("opentype");
}
@font-face{
    font-family:bing;
    font-weight: 700;
    src:url("../font/BinggraeⅡ_2.woff") format("woff"),
    url("../font/BinggraeⅡ.ttf") format("truetype");
}
@font-face{
    font-family:lotte;
    font-weight: 600;
    src:url("../font/12롯데마트드림Medium.woff") format("woff"),
    url("../font/12롯데마트드림Medium_1.ttf") format("truetype");
}
@font-face{
    font-family:lotte;
    font-weight: 400;
    src:url("../font/12롯데마트행복Light.woff") format("woff"),
    url("../font/12롯데마트행복Light_1.ttf") format("truetype");
}
/* tag reset */
body, header, footer, h1, h2, h3, h4, h5, h6, p,figure,ul,button{margin: 0;padding: 0;}
h1, h2, h3, h4, h5, h6{font-size: 100%;}
ul{list-style: none;}
a:link, a:visited, a:hover, a:active{color: inherit;text-decoration: none;}
img{vertical-align: top;}
img, figure{max-width: 100%;height: auto;}
address{font-style: normal;}
header, nav, section, article, figure, footer{display: block;}
button{border: none;background: none;}
iframe{border:none;}


/* common class */
.sr-only{position:absolute;top: 0;left: -9999px;}
.clearfix::after{content: "";display: block;clear: both;}
.inner10{padding: 0 10px;}


/* body */
body{font-family: notokr;font-size: 16px;color: #242424;font-weight: 400;}

/* header */
#header{height: 64px;background-color:#fff;}
#header.line{border-bottom: 11px solid #f42a5f;}
.logo, #footer img{width: 85px;height: 29px;top: 16px;left: 25px;}
.logo, .logo img{position: absolute;}

.btn_menu{position: absolute;top: 21px;right: 21px;width: 33px;height: 24px;z-index: 1000;}
.btn_menu .line{position: absolute;width: 33px;height: 6px;background-color: #f42a5f;left: 0;}
.btn_menu .top{top: 0;}
.btn_menu .mid{top: 9px;}
.btn_menu .btm{top: 18px;}

#gnb{visibility: hidden;position: fixed;top: -100%;left: 0;right: 0;bottom: 0;background: #ffffff;z-index:900;}
.gnb_logo{height: 64px;text-align: center;border-bottom: 13px solid #f42a5f;}
.gnb_logo img{width: 85px;padding-top: 21px;}
#gnb > ul{margin: 0 15px;}
#gnb > ul >li{padding-top: 45px;}
#gnb > ul >li >a{display: block;height: 42px;line-height: 42px;text-align: center;color: #ffffff;background-color: #f42a5f;border-radius: 6px;font-size: 22px;}
#gnb >ul >li>ul{padding-top: 24px;text-align: center;}
#gnb >ul >li>ul>li{display: inline-block;padding: 0 20px;}
#gnb >ul >li:nth-child(1)>ul>li{padding: 0 10px;}


/* footer */
#footer{height: 103px;background: #f42a5f;color: #ffffff;position: relative;}
#footer img{padding-top: 25px;padding-left: 25px;display: inline-block;width: 85px;}
#footer address{font-size: 10px;margin-top: 20px;display: inline-block;float:right;margin-right: 20px;}